
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__JS__/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__JS__/jquery.min.js"></script>
<!--<![endif]-->
<script src="__JS__/amazeui.min.js"></script>
<script src="__JS__/app.js"></script>


<!-- 样式引用 -->
<link rel="stylesheet" href="__CSS__/amazeui.switch.css"/>
<!-- JS 依赖JQ -->
<script src="__JS__/amazeui.switch.min.js"></script>

<!-- Switch 监听 -->
<script type="text/javascript">
	$(function() {
		$('[name="my-checkbox"]').bootstrapSwitch();
	});
</script>


</body>
</html>
