<div class="am-cf admin-main">
	<!-- sidebar start -->
	<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
		<div class="am-offcanvas-bar admin-offcanvas-bar">
			<ul class="am-list admin-sidebar-list">
				<li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
				<li class="admin-parent">
					<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 用户管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
					<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
						<li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 用户管理 </a></li>
						
					</ul>
				</li>
			</ul>

			<div class="am-panel am-panel-default admin-sidebar-panel">
				<div class="am-panel-bd">
					<p><span class="am-icon-bookmark"></span> 相关网站:</p>
					<p>猿团:<br />
						　<a href="http://yuantuan.com/">http://yuantuan.com/</a>
					</p>
					<p>网易云信:<br />
						　<a href="http://netease.im/">http://netease.im/</a>
					</p>
					<p>AmazeUI:<br />
						　<a href="http://amazeui.org/">http://amazeui.org/</a>
					</p>
					<p>
						ThinkPHP:<br />
						　<a href="http://thinkphp.cn/">http://thinkphp.cn/</a>
					</p>
					<p>关于作者:<br />
						　新浪微博:<a href="http://weibo.com/normal1017">@诺墨-</a><br />
						　Blog:<a href="http://normalcoder.com/">诺墨的博客</a><br>
						　微信:<a href="http://weibo.com/normal1017">normal1017</a><br />
						<wb:follow-button uid="5670007568" type="red_4" width="240" height="64" ></wb:follow-button>
					</p>
				</div>
			</div>

			<div class="am-panel am-panel-default admin-sidebar-panel">
				<div class="am-panel-bd">
				<p><span class="am-icon-tag"></span> 项目源码:</p>
					<p> 项目开源地址:<a href="https://github.com/normal1017/netease-im-thinkphp">点击访问</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- sidebar end -->
